.top{
	width: 100%;
	/*border:1px solid #000;*/
}
.search{
	width: 80%;
	display: flex;
	flex-grow: row;
	margin: 0 auto;
}
.search input{
	height: 40px;
	font-size: 15px;
	flex-grow: 2;
	
}
.search button{
	/*width: 20px;*/
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	flex-grow: 1;
	margin-left: 5px;
}
ul{
	width: 25%;
	height: 30%;
	display: flex;
	flex-direction: column;
	margin-left: 3%;
	margin-top: 3%;
	float: left;
	/*border:1px solid #000;*/
}
li{
	width: 100%;
	margin: 10px 0;
	/*height: 50px;*/
	line-height: 40px;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
}
li:nth-of-type(1),li:nth-of-type(3),li:nth-of-type(5){
	background-color: #678b99;
}
li:nth-of-type(2),li:nth-of-type(4),li:nth-of-type(6){
	background-color: #fef2e4;
}
li:nth-of-type(1)>a,li:nth-of-type(3)>a,li:nth-of-type(5)>a{
	background-color: #fff7c9;
	color: #5a8c9a;
}
li:nth-of-type(2)>a,li:nth-of-type(4)>a,li:nth-of-type(6)>a{
	background-color: #5a8c9a;
	color: #fff;
}
li img{
	width: 40px;
	height: 40px;
	flex-grow: 1;
	margin-top: 5px;
}
a{
	font-size: 16px;
	flex-grow: 7;
	border-radius: 0 10px 10px 0;
	line-height: 50px;
}
.main{
	/*border:1px solid #000;*/
	width: 71%;
	float: right;
	padding: 10px 0;
}
.left{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.left .left-header{
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	/*border:1px solid #000;*/
	margin: 0 auto;

}
.left .left-header-one,.left .left-header-two,.left .left-header-three{
	border: 1px solid #fff7c9;
	width: 45px;
	height: 45px;
	margin:0 10px;
	border-radius: 50%;
	float: left;
}
.left .left-header-one{
	background: url(../images/cake/bg2.jpg) no-repeat 77% 62%;
	background-size: 275px;
}
.left .left-header-two{
	background: url(../images/cake/bg2.jpg) no-repeat 51% 36%;
	background-size: 275px;
}
.left .left-header-three{
	background: url(../images/cake/bg2.jpg) no-repeat 99% 37%;
	background-size: 282px;
}
.left .mainImg .container{
	width: 90%;
	/*border: 1px solid #000;*/
	display: flex;
	flex-direction: row;
	padding: 10px 0 0 0;
	margin:0 auto;
}
.img1{
	flex-grow: 1;
	margin-right: 5px;
	/*border:1px solid #000;*/
}
.img2{
	flex-grow: 1;
	margin-left: 5px;
}
.left .mainImg div:nth-of-type(1) .img1{
	height: 120px;
	background:url(../images/cake/1.jpg) no-repeat;
	background-size: cover;
}
.left .mainImg div:nth-of-type(2) .img1{
	height: 120px;
	background:url(../images/cake/2.jpg) no-repeat;
	background-size: cover;
}
.left .mainImg div:nth-of-type(3) .img1{
	height: 120px;
	background:url(../images/cake/3.jpg) no-repeat;
	background-size: cover;
}
.left .mainImg div:nth-of-type(1)  .img2{
	height:120px;
	background:url(../images/cake/4.jpg) no-repeat;
	background-size: cover;
}
.left .mainImg div:nth-of-type(2)  .img2{
	height:120px;
	background:url(../images/cake/5.jpg) no-repeat;
	background-size: cover;
}
.left .mainImg div:nth-of-type(3)  .img2{
	height: 120px;
	background:url(../images/cake/6.jpeg) no-repeat;
	background-size: cover;
}
.bottom{
	width: 100%;
	/*border:1px solid #000;*/
	float: left;
	background-color: #5a8c9a;

}
h3{
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
}
p{
	text-indent: 2em;
	padding: 10px 10px;
	line-height: 1.5em;
	letter-spacing: 2px;
	font-size: 14px;
}
p,h3{
	color: #fff;
}